<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
	
	<bean id="p1" class="com.demo.beans.Player">
	<property name="pid" value="1"></property>
	<property name="pname" value="Dhoni"></property>
	</bean>
	<bean id="p2" class="com.demo.beans.Player">
	<property name="pid" value="2"></property>
	<property name="pname" value="Virat"></property>
	</bean>
	<bean id="p3" class="com.demo.beans.Player">
	<property name="pid" value="2"></property>
	<property name="pname" value="Ashwin"></property>
	</bean>
	<bean id="t1" class="com.demo.beans.Team">
	   <property name="tid" value="1"></property>
	   <property name="name" value="Mumbai"></property>
	   <property name="plist">
	     <list>
	         <ref bean="p1"></ref>
	         <ref bean="p2"></ref>
	         <ref bean="p3"></ref>
	     </list>
	   </property>
	</bean>
	<bean id="a1" class="com.demo.beans.Address">
	<property name="aid" value="11"></property>
	<property name="street" value="baner"></property>
	</bean>
	<bean id="u1" class="com.demo.beans.MyUser" autowire="constructor">
	   <constructor-arg index="0" value="111"></constructor-arg>
	   <constructor-arg index="1" value="Rajat"></constructor-arg>
	</bean>
	
</beans>